
<div class="grid grid-cols-3 border-b border-stroke dark:border-strokedark sm:grid-cols-6">
<div class="flex items-center gap-3 p-2.5 xl:p-5">
  <div class="flex-shrink-1">
    <img src="<%= page.user.profile_image %>" alt="User" />
  </div>
  <p class="hidden font-medium  dark:text-white sm:block">
    <%= page.user.username %>
  </p>
</div>

<div class="flex items-center justify-center p-2.5 xl:p-5" style="max-width:100px; overflow-x:scroll">
  <p class="font-medium  dark:text-white"><%= page.title %></p>
</div>
<div class="flex items-center justify-center p-2.5 xl:p-5">
  <p class="font-medium  dark:text-white"><%= page.category %></p>
</div>

<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
  <p class="font-medium text-meta-5 text-white"> <%= page.description %></p>
</div>

<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
  <p class="font-medium dark:text-white"><%= page.created_at.strftime('%a %b %d, %Y %l:%M %p') %></p>
</div>

<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
<p class="font-medium text-meta-5 text-white">
</p>
</div>
</div>