<div class="container mx-auto px-4 dark:bg-gray-800">
  <h1 class="text-xl font-bold my-4 text-gray-900 dark:text-white">Edit Badge</h1>


  <%= form_with model: @badge, url: admin_badge_path(@badge), local: true, class: "flex flex-col px-2 space-y-4" do |form| %>

        
    <!-- Text Input Fields Row -->
    <div class="flex space-x-2 my-0">
      <%= form.text_field :name, placeholder: "Badge name", class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white flex-grow", required: true %>
      <%= form.text_area :description, placeholder: "Badge description", class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white flex-grow", required: true %>
    </div>

    <div class="flex items-center space-x-2 my-0">
        <%= form.text_area :icon, placeholder: "<svg></svg>", class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white flex-grow", required: true %>
    </div>



    <!-- Submit Button -->
    <div>
    <%= form.submit "Update", class: "p-2 rounded-lg bg-blue-500 hover:bg-blue-700 text-white" %>
    </div>

    <% end %>


  </div>