<!-- app/views/forum/post_categories/index.html.erb -->

<div class="bg-black m-4 p-4">

<!-- Top bar with current time and forum index link -->
<div class="flex justify-between bg-black text-white px-4 pt-8">
  <div>The time now is <%= Time.now.strftime('%a %b %d, %Y %l:%M %p') %></div>
  <div>Car Citizen Forum Index</div>
</div>

<!-- Forum table header -->
<div class="grid grid-cols-12 text-center bg-blue-800 text-white py-2">
  <div class="col-span-8">Forum</div>
  <div class="col-span-1">Topics</div>
  <div class="col-span-1">Posts</div>
  <div class="col-span-2">Last Posts</div>
</div>

<!-- Regional Forums Group Name -->



<% @post_categories.group_by(&:category_type).each do |category_type, categories| %>

  <div class="bg-gray-900  flex space-between text-white py-2 px-4">
  <div>
  <%= category_type %> Forums
    </div>
    <div>
    <%= link_to 'Create New Category', forum_new_category_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
  </div>


  <% categories.each do |category| %>
    <!-- Each forum entry starts here -->
    <div class="grid grid-cols-12 bg-blue-900 text-white mb-2">
      <!-- Icon -->
      <div class="col-span-1 flex justify-center items-center p-2">
     
         category.icon
      </div>
      <!-- Forum name and description -->
      <div class="col-span-7 p-2">
        <p class="text-lg font-bold"><%= link_to category.name, forum_post_category_path(category) %></p>
        <p class="text-sm text-gray-400"><%= category.description %></p>
      </div>
      <!-- Number of topics -->
      <div class="col-span-1 text-center p-2">
        <%= category.posts.count %>
      </div>
      <!-- Number of posts -->
      <div class="col-span-1 text-center p-2">
        <%= category.total_replies %>
      </div>
      <!-- Last reply -->
      <div class="col-span-2 text-center p-2 md:border-l md:border-gray-700">
      <% if category.last_reply_time %>
        <%= category.last_reply_time %> by <%= category.last_reply_user&.username %>
        <% end %>
      </div>
    </div>
    <!-- Each forum entry ends here -->
  <% end %>

<% end %>

<!-- End of the post categories loop -->


<!-- Repeat the individual forum entry for each forum in the group -->


<!-- Car Citizen Forums Group Name -->

<% if current_user&.is_admin? %>
<div class="bg-gray-900  text-white py-2 px-4">
  Car Citizen Corporate  |  <%= link_to 'Create New Post', forum_new_category_path, class: "bg-citizen-blue-base hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>
<% end %>

<style>
  .bg-blue-900 { background-color: #2a4365; } /* This is a Tailwind color, adjust as needed */
  .bg-blue-800 {background-color : #2c5282;}
</style>
</div>