<div
  class="grid grid-cols-6 border-t border-stroke py-4.5 px-4 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
>
  <div class="col-span-3 flex items-center">
    <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
      <div class="h-22.5 w-15 max-h-22 rounded-md overflow-hidden">
      <%= image_tag photo.image, class: "h-full w-auto object-cover object-center" %>
      </div>
      <p class="text-sm font-medium  dark:text-white">
        <%= photo.event&.title %>
      </p>
    </div>
  </div>
  <div class="col-span-2 hidden items-center sm:flex">
    <p class="text-sm font-medium  dark:text-white">
    <%= photo.user.username %>
    </p>
  </div>
  <div class="col-span-1 flex items-center">
    <p class="text-sm font-medium  dark:text-white">
    <%= photo.created_at.strftime('%a %b %d, %Y %l:%M %p') %>
    </p>
  </div>


  <div class="col-span-1 flex items-center dark:text-white">
  <p class="text-sm font-medium text-meta-3"><%= photo.votes.where(upvote: true).count  %> /<%= photo.votes.where(upvote: false).count  %></p>
</div>

  <div class="hidden items-center flex-col justify-center p-2.5 sm:flex xl:p-5">
    <p class="text-sm font-medium  dark:text-white">
    
    <% unless photo.published %>
      <%= button_to 'Publish', publish_admin_photo_path(photo), method: :post, class: "m-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= button_to 'Trash', trash_admin_photo_path(photo), method: :post, class: "m-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", form: { data: { turbo_confirm: "Are you sure?" } } %>
    <% else %>
      <%= button_to 'Unpublish', unpublish_admin_photo_path(photo), method: :post, class: "m-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <% end %>

    </p>
  </div>

</div>