
<section class="py-14 newsfeed  px-4 flex justify-center"> 
    <div class="bg-gray-800 border border-gray-700 w-full md:w-1/2 rounded-lg" style="height:32rem;">
      <div class="px-4 py-4 bg-citizen-blue-base rounded-t-lg">
        <h3 class="text-2xl font-bold text-center text-white"><%= t 'homepage.newsfeed.new_activities' %></h3>
      </div>
      <hr class="border-gray-700">
      <div class="overflow-auto" style="max-height: calc(32rem - 4rem); box-sizing: border-box;">
        <div class="px-4 py-4">


              
              <% @activities.each do |activity| %>
                <div class="flex py-4">
                  <img src="<%= activity.user.profile_image %>" alt="User Profile" class="rounded-full h-12">
                  <div class="ml-4">
                    <p class="font-semibold">
                      <%= activity.user.username %>
                      <% case activity.name %>
                      <% when "New discord created" %>
                        created a new Discord
                      <% when "User joined" %>
                      <%=  t 'homepage.newsfeed.attending' %> <%= link_to activity.user_event.title, event_path(activity.user_event), class:'underline' %> event
                      <% when "User signup" %>
                        created a new account

                      <% when "Giveaway won" %>
                        won a <%= activity.giveaway_won.title %> from the <%= link_to activity.giveaway_won.event.title, event_path(activity.giveaway_won.event), class:'underline' %>
                      <% when "New reply created" %>
                        posted a reply
                      <% when "New EventManager created" %>
                        Assigned a new manager to the event
                      <% when "New photo created" %>
                      <% event_id = activity.photo&.event&.id %>
                        <% if event_id %>
                        <%=  t 'homepage.newsfeed.new_photo' %> <%= link_to activity.photo.event.title, event_path(activity.photo.event), class:'underline' %>
                        <% end %>
                      <% when "New region created" %>
                        created a new region
                      <% when "Bug submitted" %>
                        submitted a bug
                      <% when "Wall commented" %>

                        POsted a comment on <%= link_to activity.user.username, user_path(activity.user), class:'underline' %>
                      <% when "Created event" %>
               
                        <%=  t 'homepage.newsfeed.new_event' %> <% if activity.event %> <%= link_to activity.event.title, event_path(activity.event), class:'underline' %> <% else %> deleted <% end %>
                      <% when "New post created" %>
                          <%=  t 'homepage.newsfeed.new_post' %><%= link_to activity.post.post_category.name, forum_post_category_post_path(activity.post.post_category, activity.post), class:'underline' %> 
                      <% when "New giveaway added" %>
                      <% event_id = activity.giveaway&.event_id %>
                        <% if event_id %>
                        <%= t 'homepage.newsfeed.new_giveaway' %>
                        <%= link_to activity.giveaway.event.title, event_path(activity.giveaway.event), class:'underline' %>
                        <% else %>
                        Deleted giveaway
                        <% end %>
                      <% else %>
                        <%= activity.name %>
                      <% end %>
                    </p>

                    <p class="text-xs">
                    </p>
                    <!-- Additional Activity Details Here -->
                  </div>
                </div>
                <hr class="border-gray-700"> <!-- Horizontal rule -->
              <% end %>
              


        </div>
      </div>
    </div>
    

  </div>
</section>

<style>
@media (min-width: 767px) {
section.newsfeed{
  height: 90vh;
}
              }

              section.newsfeed{
             color:white   
            }
</style>