<div id="<%= dom_id user %>">

<%= render 'profile_header'%>

<%= render 'profile_details' %>

<%= render 'profile_history' %>
<%= render 'profile_invite' %>
<%= render 'profile_activity' %>
<%= render 'profile_wall' %>
</div>
