<div id="<%= dom_id user %>">

<%= render 'profile_header'%>

<%= render 'profile_details' %>

<%= render 'profile_history' %>
<%= render 'profile_invite' %>
<%= render 'profile_activity' %>
<% if current_user %>
<%= render 'profile_wall' %>
<% end %>
</div>
