<div class="bg-gray-900 w-full p-2 flex justify-between items-center space-x-4 text-gray-200">
<div class="text-gray-200"></div>
  <!-- Social Links Here -->
  <% unless @username %>
    <%= button_to 'Login with Discord', '/auth/discord', method: :post, class: 'discord-login-button',  data: { turbo: false } %>
  <% end %>

  <div class="social-links flex">
    <!-- Instagram Button -->
    <a href="https://www.instagram.com" class="bg-white p-2 mx-1 items-center justify-center rounded-full hover:bg-gray-300">
   
        <%= render '/shared/icons/instagram' %>
    </a>
    
    <!-- Twitter Button -->
    <a href="https://www.twitter.com" class="bg-white p-2  mx-1  items-center justify-center rounded-full hover:bg-gray-300">
    <%= render '/shared/icons/x' %>
    </a>
    
    <!-- Facebook Button -->
    <a href="https://www.facebook.com" class="bg-white p-2  mx-1  items-center justify-center rounded-full hover:bg-gray-300">
    <%= render '/shared/icons/facebook' %>
    </a>
    
    <!-- Discord Button -->
    <a href="https://www.discord.com" class="bg-white p-2  mx-1  items-center justify-center rounded-full hover:bg-gray-300">
    <%= render '/shared/icons/discord' %>
    </a>
  </div>

</div>
