<% if current_user.user_level == "Regional Manager" %>
<!-- List of discord servers and details -->
<div class="citizen-grey-md text-white shadow-lg rounded-lg p-4 mb-4 md:col-span-2">
  <h2 class="text-xl text-white font-semibold mb-3">Managed Discord servers</h2>
  <% current_user.discords.each do |discord| %>
  <div class="flex flex-row w-full justify-between text-white">
    <div>
        <%= discord.server_name %>
    </div>
    <div>
    <%= link_to discord.discordable_type, discord.discordable %>

    </div>
    <div>
    <%= link_to discord.server_url %>
    </div>
    <div>
    <%= discord.created_at.strftime('%a %b %d, %Y %l:%M %p')%>
    </div>
    <div class="flex flex-row justify-between"> <%=link_to "Edit", edit_discord_path(discord) %> | <%= button_to "Delete", discord, method: :delete %> </div>
  </div>
  <hr class="m2" style="border-color: #8b8b8b">
  <% end %>
</div>
<% end %>