<div class="bg-gray-800 h-12 flex items-center justify-center space-x-4 text-white">
<%= link_to root_path do %>
    HOW TO SIGN UP
    <% end %>
    <%= link_to root_path do %>
    WHAT IS STAR CITIZEN?
    <% end %>
    <%= link_to root_path do %>
    HOW IT WORKS
    <% end %>
    <%= link_to root_path do %>
    EVENT IDEAS
    <% end %>
    <%= link_to root_path do %>
    PHOTOS
    <% end %>
    <%= link_to root_path do %>
        RECENT NEWS & ACTIVITY
        <% end %>
</div>
