<div class="secondary-menu mx-2 bg-citizen-blue-dk flex flex-wrap items-center rounded-full justify-center text-white">
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "HOW TO SIGN UP", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "WHAT IS STAR CITIZEN?", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "HOW IT WORKS", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "EVENT IDEAS", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "PHOTOS", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "RECENT NEWS & ACTIVITY", root_path, class: "inline-block w-full" %>
  </div>
</div>


<style>
.secondary-menu{
z-index: 9003;
margin-top: -4px;
}

</style>