<div class="bg-citizen-blue flex flex-wrap items-center justify-center text-white">
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "HOW TO SIGN UP", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "WHAT IS STAR CITIZEN?", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "HOW IT WORKS", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "EVENT IDEAS", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "PHOTOS", root_path, class: "inline-block w-full" %>
  </div>
  <div class="w-1/2 md:w-1/6 p-2 text-center">
    <%= link_to "RECENT NEWS & ACTIVITY", root_path, class: "inline-block w-full" %>
  </div>
</div>
