<!-- Container for the entire section with substantial padding -->
<div id="attendees" class="bg-blue-500 text-white py-16 px-24">
    <!-- Title in the center at the top -->
    <h2 class="text-center text-4xl font-bold mb-8">Event Attendees</h2>
    <!-- Subtitle and description -->
    <p class="text-center text-lg mb-12">Check out all the amazing people attending our event. Connect and expand your network!</p>

    <!-- Grid list of event attendees -->
    <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-12">
        <!-- Attendee card 1 -->
        <% event.attendees.each do |user| %>
        <div class="flex flex-col items-center">
            <div class="">
                <%= link_to user_path(user) do %>
                    <img src="<%= user.profile_image %>" alt="User" class="rounded-lg mb-4" />
                <% end %>
            </div>
            <%= link_to user_path(user) do %>
                <h3 class="text-center text-lg"><%= user.username %></h3>
            <% end %>
            <% if current_user&.is_admin? || event.creator_id == current_user&.id  %>
              <%= button_to 'Kick', event_event_participation_path(@current_event, user.event_participation_id_for(@current_event)), method: :delete, class: 'bg-yellow-400 text-blue-600 rounded-full px-6 py-2 font-bold' %>
            <% end %>

        </div>
<% end %>

        <!-- Repeat for other attendee cards... -->
    </div>
</div>
