<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start datetime:</strong>
    <%= event.start_datetime %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= event.region %>
  </p>

  <p>
    <strong>Social media links:</strong>
    <%= event.social_media_links %>
  </p>

  <p>
    <strong>Discord link:</strong>
    <%= event.discord_link %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= event.creator_id %>
  </p>

</div>
