
<!-- Hero Section --><% banner_url = url_for(event.banner) if event.banner.attached? %>


<div class="relative bg-cover bg-center h-3/5"


 style="background-image: url('<%= banner_url %>'); background-size: cover;">
   
  <div class="bg-black bg-opacity-50 h-full">
  <div class="container mx-auto px-4 h-full flex flex-col justify-end">
  <!-- Row 1: Event Details aligned to bottom-left -->
  <div class="text-white pb-10">
  <% if @current_event.is_virtual %>
  <h2 class="text-xl citizen-blue-highlight">Virtual</h2>
  <% end %>
  <h2 class="text-xl"><%= format_event_datetime(event.start_datetime, event.end_datetime) %>  </h2>
    <h1 class="text-4xl font-bold"><%= event.title %></h1>

    <hr class="my-2">
    <nav class="space-x-4">
      <a href="#" class="text-white hover:text-gray-300">Main</a>
      <a href="#" class="text-white hover:text-gray-300">Schedule</a>
      <a href="#" class="text-white hover:text-gray-300">Standings</a>
      <!-- More links as needed -->
    </nav>
  </div>

      <!-- Social Like Buttons, positioned bottom right -->
      <div class="absolute bottom-0 right-0 p-4">
        <!-- Social Buttons Here -->
        <button class="text-white">Like</button>
        <button class="text-white">Share</button>
      </div>
    </div>
  </div>
</div>

<!-- Event Details Section -->
<div class="bg-citizen-blue-base text-white">
  <div class="container mx-auto px-4 py-6 grid grid-cols-1 md:grid-cols-4 gap-4 h-2/5">
    <!-- Location Details -->
    <div>
      <h3 class="text-lg font-semibold">Location</h3>
      <p><%= event.description %></p>
      <p><%= event.address %></p>
    </div>

    <!-- Start Time -->
    <div>
      <h3 class="text-lg font-semibold">Start Time</h3>
      <p><%= event.start_datetime.strftime("%A") %></p>
      <p>End time 
      will be around <%= event.end_datetime&.strftime("%l:%M%P %Z") %> </p>
    </div>

    <!-- Register Now Button -->
    <div class=" flex flex-col items-center justify-center">
      <% if current_user %>
      <div class="text-center">
          <% if current_user && current_user.participating_in?(@current_event) %>
              <%= button_to 'Leave Event', event_event_participation_path(@current_event, current_user.event_participation_id_for(@current_event)), method: :delete, class: 'bg-yellow-400 text-blue-600 rounded-full px-6 py-2 font-bold' %>
          <% else %>
              
              <%= button_to 'Join Event', event_event_participations_path(@current_event), method: :post, params: { event_participation: { user_id: current_user.id, event_id: @current_event.id } }, class: 'bg-citizen-blue-highlight text-white rounded-full px-6 py-2 font-bold' %>

          <% end %>
      </div>
      <% end %>
      <p class="text-sm mt-2">Limited Availability!</p>
    </div>

    <!-- Other Events -->
    <div>
      <h3 class="text-lg font-semibold">Past Events</h3>
      <!-- List other events here -->
      <% @current_event.creator.created_events.each do |past_event|  %>
      <%= link_to past_event.title, past_event, class:"text-white text-xs" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Event Menu Section -->
<div class="bg-gray-500">
  <div class="container mx-auto px-4 py-4">
    <nav class="flex space-x-4">
      <a href="#overview" class="text-white hover:underline">Overview </a>
      <% unless @current_event.is_virtual %>
        <a href="#map" class="text-white hover:underline">Map</a>
      <% end %>
      <% if !@event.giveaways.empty? %>
      <a href="#giveaways" class="text-white hover:underline">Giveaways</a>
      <% end %>
      <a href="#photos" class="text-white hover:underline">Photos</a>
      <a href="#forums" class="text-white hover:underline">Regional Forum</a>
      <a href="#attendees" class="text-white hover:underline">Attendees</a>
      <a href="#thewall" class="text-white hover:underline">TheWall</a>
      <a href="#organizer" class="text-white hover:underline">Organizer info</a>
      <a href="#activity" class="text-white hover:underline">Event Activity</a>
      <!-- More links as needed -->
    </nav>
  </div>
</div>
