

<!-- Event Details -->
<div id="map" class="bg-gray-800  rounded-lg shadow-lg">



    <div data-controller="maps"
    data-maps-key-value="<%= ENV['GOOGLE_MAPS'] %>"
    data-maps-events-value="[<%= @event.to_json %>]"
    data-maps-regions-value="[<%= @event.region.to_json %>]"
    
    
        <!-- Wrapper for map and buttons -->
        <div class="relative">
            <!-- Map Container -->
            <div data-maps-target="map" class="h-screen"></div>
        
            <!-- Positioning container for buttons -->
            <div class="absolute map-toggle-buttons top-0 right-0 m-4 space-y-2">
            <!-- Toggle Discords Button with SVG Icon -->
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold p-2 rounded-full flex items-center justify-center"  data-maps-target="regionsToggle" data-action="maps#toggleRegions">
                <%= render '/shared/icons/discord', width:40 %>
            </button>
        
            <!-- Toggle Events Button with SVG Icon -->
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold p-2 rounded-full flex items-center justify-center"  data-maps-target="eventsToggle" data-action="maps#toggleEvents">
                <%= render '/shared/icons/barcitizen', width: 40 %>
            </button>
            </div>

            
        </div>
    
    </div>

</div>