

  <%= form_with(model: event, class: "space-y-4") do |form| %>
    <% if event.errors.any? %>
      <div class="bg-red-500 text-white p-4 rounded-lg">
        <h2 class="font-bold"><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul class="list-disc pl-6">
          <% event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex flex-col">
      <%= form.label :title, class: "mb-2 font-semibold" %>
      <%= form.text_field :title, class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white" %>
    </div>

    <div class="flex flex-col">
      <%= form.label :description, class: "mb-2 font-semibold" %>
      <%= form.text_area :description, class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white" %>
    </div>

    <div class="flex flex-col">
      <%= form.label :start_datetime, class: "mb-2 font-semibold" %>
      <%= form.datetime_field :start_datetime, class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white" %>
    </div>

    <div class="flex flex-col">
      <%= form.label :address, class: "mb-2 font-semibold" %>
      <%= form.text_field :address, class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white" %>
    </div>



    <div class="flex flex-col">
    <%= form.label :region_id, class: "mb-2 font-semibold" %>
    <%= form.collection_select :region_id, Region.all, :id, :name, { prompt: "Select a Region" }, { class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white" } %>
  </div>

    <div class="flex flex-col">
      <%= form.label :x_link, class: "mb-2 font-semibold" %>
      <%= form.text_area :twitter_link, class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white" %>
    </div>

    <div class="flex flex-col">
    <%= form.label :discord_id, class: "mb-2 font-semibold" %>
    <%= form.collection_select :discordable_id, Discord.all, :id, :server_name, { prompt: "Select a Discord" }, { class: "p-2 rounded-lg bg-gray-800 border border-gray-600 text-white" } %>
  </div>

    <div>
      <%= form.submit "Create Event", class: "mt-4 bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" %>
    </div>
  <% end %>

  <br>
