<!-- app/views/forum/posts/new.html.erb -->

<div class="bg-black text-white p-4 mx-4">
  <h1 class="text-xl font-bold">New Post in <%= @post_category.name %></h1>
  <%= form_with(model: [@post_category, @post], url: forum_post_category_posts_path(@post_category), local: true) do |form| %>

    <div class="mb-4">
      <%= form.label :title, class: "block text-gray-300 text-sm font-bold mb-2" %>
      <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 bg-gray-100 text-black leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :content, class: "block text-gray-300 text-sm font-bold mb-2" %>
      <%= form.text_area :content, rows: 6, class: "shadow appearance-none border rounded w-full py-2 px-3 bg-gray-100 text-black leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div>
      <%= form.submit "Create Post", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>
