<div id="<%= dom_id photo %>">
  <p>
    <strong>Event:</strong>
    <%= photo.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= photo.image_url %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= photo.upvotes %>
  </p>

  <p>
    <strong>Downvotes:</strong>
    <%= photo.downvotes %>
  </p>

  <p>
    <strong>Favorites count:</strong>
    <%= photo.favorites_count %>
  </p>

</div>
