
<% votable_type = votable.model_name.singular %>

<% if current_user %>
  <% if votable.upvoted_by?(current_user) %>
  <%= image_tag 'upvote_filled.svg', class: 'vote-button' %>
  <% else %>
  <%= button_to image_tag('upvote_regular.svg'), votes_path(votable_type: votable_type, votable_id: votable.id, upvote: true), method: :post, class: "vote-button" %>
  <% end %>
  <span style="margin-right:10px"><%= votable.votes.where(upvote: true).count %></span>

  <% if votable.downvoted_by?(current_user) %>
    <%= image_tag 'downvote_filled.svg', class: 'vote-button' %>
  <% else %>
    <%= button_to image_tag('downvote_regular.svg'), votes_path(votable_type: votable_type, votable_id: votable.id, upvote: false), method: :post, class: "vote-button" %>
  <% end %>
    <span><%= votable.votes.where(upvote: false).count %></span>


<% else %>
  <%= image_tag 'upvote_filled.svg', class: 'vote-button' %>
  <span><%= votable.votes.where(upvote: true).count %></span>
  <%= image_tag 'downvote_filled.svg', class: 'vote-button' %>
  <span><%= votable.votes.where(upvote: false).count %></span>
<% end %>
