
<div class="grid grid-cols-3 border-b border-stroke dark:border-strokedark sm:grid-cols-6">
<div class="flex items-center gap-3 p-2.5 xl:p-5">
  <div class="flex-shrink-1">
    <img src="<%= user.profile_image %>" alt="User" />
  </div>
  <p class="hidden font-medium  dark:text-white sm:block">
    <%= user.username %>
  </p>
</div>

<div class="flex items-center justify-center p-2.5 xl:p-5">
  <p class="font-medium  dark:text-white"><%= user.karma %>/<%= user.fame %></p>
</div>

<div class="flex items-center justify-center p-2.5 xl:p-5">
  <p class="font-medium text-meta-3"><%= user.location %></p>
</div>

<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
  <p class="font-medium dark:text-white"><%= user.last_login.strftime('%a %b %d, %Y %l:%M %p')  %></p>
</div>

<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
  <p class="font-medium text-meta-5 text-white"> <%= user.user_level %></p>
</div>


<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
<p class="font-medium text-meta-5 text-white">
  <%= button_to 'Trash', trash_admin_user_path(user), method: :post, class: "m-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", form: { data: { turbo_confirm: "Are you sure?" } } %>
</p>
</div>
</div>