<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title>Bar Citizen Earth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'BarCitizenLogo.png', rel: 'icon', type: 'image/png' %> <!-- For a PNG file -->

    <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbo-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
  </head>

  <body class="bg-black dark:bg-black" style="background-image: url(<%= asset_url('starry_background.png') %>);     background-size: cover; background-position: center;">
<% unless request.fullpath.include?('/admin') %>
  <!-- Main Site Header -->

  <%= render '/shared/top_bar' %>
  <%= render '/shared/main_menu' %>
  <main class="justify-center flex flex-col">
    <%= yield %>
  </main>
  <%= render '/shared/footer' %>
<% else %>
  <main class="flex">
    <%= yield %>
  </main>
<% end %>

   
  </body>
</html>
