<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title>Car Citizen Earth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <% if @event %>
  <meta property="og:title" content="Car Citizen test site - <%= @event.title %>">
    <% if @event.banner.attached? %>
      <meta property="og:image" content="<%= url_for(@event.banner) %>">
    <% end %>
  <% elsif @photo %>
  <meta property="og:title" content="Car Citizen test site - <%= @photo.title %>">
    <% if @photo.image.attached? %>
      <meta property="og:image" content="<%= url_for(@photo.image) %>">
    <% end %>s
  <% end %>

  <meta property="og:type" content="website">

  <meta property="og:description" content="Your site description">
  <meta property="og:url" content="<%= request.original_url %>">

    <%= csrf_meta_tags %>
    
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'BarCitizenLogo.png', rel: 'icon', type: 'image/png' %> <!-- For a PNG file -->

    <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbo-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <%= stylesheet_link_tag 'fonts', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
  </head>

  <body  id="<%= controller_name %>" class="bg-black dark:bg-black" style="background-image: url(<%= asset_url('starry_background.png') %>);     background-size: cover; background-position: center;">

<% unless request.fullpath.include?('/admin') %>
  <!-- Main Site Header -->

  <%= render '/shared/top_bar' %>
  <%= render '/shared/main_menu' %>
  <main class="justify-center flex flex-col">
    <%= yield %>
  </main>
  <%= render '/shared/footer' %>
<% else %>
  <main class="flex">
    <%= yield %>
  </main>
<% end %>

<% if @is_404_page %>
  <script>
    // Set global JavaScript variables for asset paths
    window.assetPaths = {
      errorImage1: '<%= asset_path("404-1.png") %>',
      errorImage2: '<%= asset_path("404-2.png") %>'
    };
  </script>


  


<% end %>

<%= render '/layouts/bug_reporting' %>

   
  </body>
</html>
